*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font: $core-font-size $ff-sans;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $core-lineheight;
}

body {
  margin: 0;
  background: $bg-color;
  color: $text-color;
  font-size: 1.6rem;
  font-weight: 400;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: lighten($link-color, 10%);
    text-decoration: underline;
  }
}


article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}
